*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::is(.container, .num-section, #top, #bottom){
    display: grid;
}

body{
    justify-content: center;
}


.container{
    margin-block: 2rem;
    
    /* justify-content: center; */
    background-color: lightslategrey;
}

button {
    width: 4rem;
    height: 4rem;
}
#top{
    height: 10px;
}
#bottom{
    height: 10px;
}

